# Add log files, except checkpoints, replay info, and tf logs
logdir/**/replay
logdir/**/checkpoint.ckpt*
logdir/**/events.out.tfevents.*

# Ignore integration test logs
logdir/**/integration-test-*/

# # Ignore all log files except logs and metrics small enough to push to GH
# logdir/**/*.* 
# !logdir/**/training-*/metrics.jsonl 
# !logdir/**/training-*/*.yml
# !logdir/**/training-*/*.yaml
# !logdir/**/training-*/log.txt

# Ignore private configs
aai/configs-private/*
!aai/configs-private/.gitkeep

# Ignore environments
aai/env*/*
!aai/env/.gitkeep

# Wandb
wandb/
.env

# Python stuff
.venv
__pycache__/