
# Ignore all log files except logs and metrics small enough to push to GH
logdir/**/*.* 
!logdir/**/training-*/metrics.jsonl 
!logdir/**/training-*/*.yml
!logdir/**/training-*/*.yaml
!logdir/**/training-*/log.txt

# Ignore private configs
aai/configs-private/*
!aai/configs-private/.gitkeep

# Ignore environments
aai/env*/*
!aai/env/.gitkeep

# Python stuff
.venv
__pycache__/